.login-input {
  margin-bottom: 16px !important;
}

.login-row {
  margin-bottom: 16px !important;
}

.forgot-link.ant-typography {
  color: #3678eb !important;
}

.login-button {
  margin-bottom: 16px !important;
}

.create-account-icon {
  color: #3678eb !important;
}

.account-icon {
  color: #ffffff !important;
}

.login-label {
  display: block;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
