.login-input {
  margin-bottom: 16px !important;
}

.login-row {
  margin-bottom: 16px !important;
}

.forgot-link.ant-typography {
  color: #3678eb !important;
}

.login-button {
  margin-bottom: 16px !important;
}

.create-account-icon {
  color: #3678eb !important;
}
