.signup-input {
  margin-bottom: 16px !important;
}

.signup-row {
  margin-bottom: 16px !important;
}

.forgot-link.ant-typography {
  color: #3678eb !important;
}

.signup-button {
  margin-bottom: 16px !important;
}

.account-icon {
  color: #3678eb !important;
}

.create-account-icon {
  color: #ffffff !important;
}

.signup-label {
  display: block;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
}
